* {
    box-sizing: border-box;
    margin: 0;
}
html {
    font-family: "Montserrat", sans-serif;
}

img {
    width: 100%;
}

nav {
    background: #3A3A3A;
    height: 67px;
}
nav img {
    height: 58px;
    width: 58px;
}
nav .menu {
    height: 45px;
    width: 45px;
    /*background: transparent;*/
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    
}
nav .menu div {
    width: 100%;
    height: 8px;
    background: white;
}

nav .profile {
   border-radius: 50% ;
   background-color: #999;
}

.container {
    max-width: 865px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    padding: 0 13px;
}

nav ul {
    display: none;
}
ul {
    padding: 0;
    list-style-type: none;
}
#apresentacao {
    color: #707070;
    padding-bottom: 34px;
}

#apresentacao .background {
    height: 233px;
}
#apresentacao img {
    object-fit: cover;
    object-position: center;
}
#apresentacao .profile-picture {
    display: block;
    height: 260px;
    width: 260px;
    border-radius: 50%;
    margin-top: -130px;
    margin-left: auto;
    margin-right: auto;
    object-fit: fill;
}
#apresentacao ul {
    display: flex;
    width: 260px;
    list-style-type: none;
    justify-content: space-between;
    margin-top: -29px;
    margin-left: auto;
    margin-right: auto;
}
#apresentacao ul li{
    width: 58px;
}
#apresentacao ul figure {
    width: 100%;
}

#apresentacao ul figure div {
   border-radius: 50%;
   width: 70px;
   height: 70px;
   /*background-color: #999;*/
   padding: 1px;
}

#apresentacao ul figure div img {
    width: 58px;
    height: 58px;
}
#apresentacao ul figure div img {
    height: 100%;
    width: 100%;
}
#apresentacao figcaption {
    font-size: 8px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}
#apresentacao h1 {
    font-size: 55px;
    font-weight: 700px;
    margin-top: 55px;
    color: #000080
}
#apresentacao h2 {
    font-size: 34px;
    font-style: italic;
    font-weight: 300px;
    color: #1E90FF
}
#apresentacao h3 {
    margin-top: 34px;
    font-size: 34px;
    font-weight: bold;
    color: #000080
}
#apresentacao p {
    margin-top: 21px ;
    font-weight: 600;
    line-height: 33.81px;
}
#formacao, #experiencia, #habilidades, #linguas, #contato {
    padding: 34px 0;
    background: #DEDEDE;
}
#experiencia, #linguas {
    background: #434343;
}
#contato {
    background: #000000;
}
section:not(.profile-section) h2 {
    font-size: 45;
    font-weight: 300;
    width: 100%;
    color: #707070;
}
#experiencia {
    color: #434343 
}
section:not(.profile-section) ul {
    margin-top: 34px;
}
#experiencia  h2,
#experiencia ul {
    color: #999;
}
section ul {
    margin-top: 34px;
    color: #707070;
}
section:not(.profile-section) ul li small{
    color: #707070;
    font-size: 13px;
    font-weight: 600;
}
section:not(.profile-section) ul li h3{
    font-size: 21px;
    font-weight: 700;
    color: #707070;
}
section:not(.profile-section) ul li p {
    font-size: 13px;
    font-weight: 600;
}
section:not(.profile-section) ul li {
    margin-top: 21px;
    position: relative;
    padding-left: 21px;
}
section:not(.profile-section) ul li::before {
    content: "";
    display: block;
    width: 8px;
    height: 100%; 
    background: #000;
    border-radius: 5px;
    position: absolute;
    left: 0;
}
#experiencia  li::before {
    background: #fff
}


@media (min-width: 768px) {
    section:not(.profile-section) h2 {
        font-size: 55px;
    }
    .container {
        padding:0 55px;
    }
    #apresentacao .profile-picture,
    #apresentacao ul {
        margin-left: 0;
    }
}
@media (min-width: 1024px) {
    nav .menu {
        display: none;
    }
    nav ul {
        display: flex;
        list-style-type: none ;
    }
    nav li {
        margin-left: 21px;
    }
    nav ul a {
        color: white;
        text-decoration: none; 
    }
    nav ul a:hover {
        text-decoration: underline;
    }
    }
    #apresentacao  .background {
        height: 377px;
    }
    #apresentacao .profile {
        width: 260px;
        margin-right: 34px;
    }

/* contacto  */

#Contato{
    background: #584512;
    width: 100%;
    height: 609px;
    margin-top: 0px;
}

.contenidodelcontato{
    width: 100%;
    max-width: 865px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 34px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.titulocon h2{
    font-size: 55px;
    color: #FFFFFF;
    font-weight: 300;
    font-style: normal;
    padding-bottom: 43px;
    width: 398px;
}

.texto-contato p{
    font-size: 21px;
    letter-spacing: 0px;
    color: #faf5f5;
    opacity: 1;
    line-height: 35px;
    width: 398px;
    padding-bottom: 25px;
}

.texto-contato{
    width: 398px;
}

.redesociais{
    width: 216px;
    display: flex;
   justify-content: space-between;
}

.social1 p{
    font-size: 8px;
    font-weight: 600;
    color: #faf5f5;
    letter-spacing: 0px;
    text-align: center;
}
a .social{
    padding-bottom: 10px;
}

    /* Formulario  */

    .formulario{
        width: 398px;
        margin-top: 107px;
        align-items: center;
        text-align: center;
    }
    
    .formulario1{
        width: 398px;
        height: 34px;
        margin-bottom: 17px;
        background: #FFFFFF;
        border: 1px solid #707070;
        border-radius: 10px;
        opacity: 1;
    }
    
    .formulario2{
        width: 398px;
        height: 133px;
        background: #FFFFFF;
        border: 1px solid #707070;
        border-radius: 10px;
        opacity: 1;
    }
    .subtitulo{
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        text-align: left;
    }
    
    button#boton{
        width: 122px;
        height: 34px;
        border-radius: 10px;
        opacity: 1;
        color: #f7fafc;
        font-size: 12px;
        font-weight: bold;
        background-color: #031433;
        text-transform: uppercase;
        margin-top: 15px;
    }
    
    #button{
        align-items: center;
    }   